<%= render "admin_header" %>

<section id="top-five-customers">
  <h3>Top Customers</h3>
  <ol>
    <% @customers.each do |customer| %>
      <li><%= "#{customer.first_name} #{customer.last_name} - #{customer.num_successful_transactions} purchases"%></li>
    <% end %>
  </ol>
</section>

<section id="incomplete-invoices">
  <h3>Incomplete Invoices</h3>
  <ul>
    <% @invoices.each do |invoice| %>
    <li><%= link_to "Invoice ##{invoice.id}", admin_invoice_path(invoice) %></li>
    <% end %>
  </ul>
</section>